@use './base' as *;

.heading {
  &--primary {
  }
}

.header {
  &__label {
  }

  &__checkbox {
  }
}

.text {
  &--bold {
    &-red {
    }

    &-green {
    }
  }

  &--number {
  }
}

.box {
  &--facebook {
  }

  &--instagram {
  }

  &--twitter {
  }

  &--youtube {
  }

  &__username {
  }

  &__logo {
  }

  &__caption {
    &-span {
    }
  }

  &__wrapper {
  }
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin-block: 2rem;

  &__link:link,
  &__link:visited {
    text-transform: uppercase;
    // color: $color-primary--light;
    transition: all 0.3s;
  }

  &__link:hover,
  &__link:active {
    // color: $color-secondary;
  }
}
