@use './mixins' as *;
@use './variables' as *;

.container {
  width: 87%;
  max-width: 110rem;

  &--small {
    padding: 4rem 0 15rem 0;
    margin: 0 auto;

    @media (min-width: 810px) {
      @include flex-space-between;
    }
  }

  &--large {
    margin: -10rem auto 5rem auto;
  }
}

.wrapper {
  &--text {
    margin-bottom: 2rem;

    @media (min-width: 810px) {
      margin-bottom: 0;
    }
  }

  &--toggle {
    padding-top: 2rem;

    @include flex-space-between;

    @media (min-width: 810px) {
      padding-top: 0;
      justify-content: end;
      gap: 1.5rem;
    }
  }
}

.grid {
  width: 100%;
  display: grid;
  gap: 2.8rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
